
/* Google fonts used here */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Rubik+Gemstones&display=swap');

* {margin: 0;}



:root{
    --welcome-bg-color:rgb(24, 6, 6);
    --intro-bg-color:#B98B82;
    --bio-container-bg-color:#F3B3A6;
    --name-text-font: "Bree Serif", serif;
    --title-text-font: "Rubik Gemstones", system-ui;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin:auto;
    width: 100%;
    height: 100vh;
    background: var(--welcome-bg-color);
}

#sideBar {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2px;
    position: fixed;
    width:8rem;
    height: 300px;
    color: aliceblue;
    top: 250px;
    right: 10px;
}
#sideBar > a {
    text-decoration: none;
    color: var(--welcome-bg-color);
}
.iconLink {
    background: aliceblue;
    padding: 10px;
    border-radius: 8px;
    border: solid 2px var(--welcome-bg-color);
    font-family: var(--title-text-font);
}

.btn-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 5;
    width: 30px;
    height: 60px;
    border-radius: 8px;
    background-color: #0f4880;
    border: solid 0px 0;    
}

#title {    
    text-align: center;
    height: auto;
    font-size: 4em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing:4px;
    font-weight:800;
    background: linear-gradient(to right, rgb(205, 34, 34), rgb(9, 139, 209)); /* Define your gradient */
    -webkit-background-clip: text;  /* Clip the background to the text (WebKit) */
    background-clip: text;          /* Standard syntax */
    -webkit-text-fill-color: transparent; /* Transparent text fill color (WebKit) */
    color: transparent;    
}
#profile-img {
 display: flex;
 justify-content: center;
 align-items: center;
 width:220px;
 height: 220px;
 border-radius: 50%;
 border: solid 10px rgb(85, 60, 60);
}
#profile-img > img {
    width:200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
#heading {
    text-align: center;    
    font-family:var(--title-text-font);
    letter-spacing: 2px;
    font-size:1.2em;
    animation: glow 2s infinite ease-in-out;
    text-shadow: 
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;
}
#name {
    font-size: 1.8em;
    font-family: var(--name-text-font);
    letter-spacing: 1px;
    color: #88add2;        
}
#contact-info {
    display: flex;
    font-family: var(--name-text-font);
    font-size: 1em;
    letter-spacing: 1px;
    flex-direction: column;
    row-gap: 4px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: #88add2;
}
#mobile, #email {
    display: flex;
    gap: 2px;
}
#intro-sec{
    background: var(--intro-bg-color);
    width: 100%;
    height:100vh;
}
#intro {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin:auto;      
}
#profile{
    display: flex;
    justify-content: center;
    width: 25%;
    height: auto;
    object-fit: contain;
}

#profile > img {
    width:100%;
    height: auto;
}
#intro-text {
    width: 60%;
    height: auto;
}
.headline {
    text-align: center;
    padding: 10px;
    font-family: var(--title-text-font);
}
#bio-container{
    background-color:var(--bio-container-bg-color);
    width: 100%;
    height: auto;
}
#bio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    height: auto;    
    justify-content: center;
    padding: 20px;
}
.section {    
    background-color: aliceblue;   
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
}
.sub-heading {
    color: #fff;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    letter-spacing: 1px;
}
#projects {
    display: grid;
    width: 100%;
    height: 100vh;

}


@keyframes glow {
    0% {
        text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
        }
    50% {
        text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 60px #0ff;
    }

    100% {
        text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
    }
   
}

@media (max-width:992px) {

    #intro {
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        height: auto;        
    }
    #intro-text, #section {
        width: 90%;
        height: auto;
    }
    #bio-container {
        height: auto;
    }

       
}
    








